<nav>
  <ul>
    <li>
      <a routerLink="">
        <div><strong>Home</strong></div>
        
      </a>
    </li>

    <!-- <li>
      <a routerLink="update">
       <div> <strong>Update</strong></div>
      </a>
    </li> -->

    <li>
      <a routerLink="about">
       <div> <strong>About</strong></div>
      </a>
    </li>

    <li>
      <a routerLink="contactus">
       <div> <strong>Contact Us</strong></div>
      </a>
    </li>
  </ul>
  <p><b><span>Todo</span> App</b></p>


  <div class="searchBox">

    <input class="searchInput"type="text" name="" placeholder="Search">
    <button class="searchButton" href="#">
        <i class="material-icons">
            search
        </i>
    </button>
</div>

</nav>